# Dependencies
node_modules

# Build outputs
dist
dist-preview
dev-dist

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
